<!-- 

<div id="hello"></div>

<form #all="ngForm" #allow>
    <div class="form-group">
        <p style="padding:10px; margin:0;">Enter username :</p>
<input autocomplete="off" [formControl]="user"  [ngSwitch]="!user.invalid && user.touched ? 'we' : ''  "  type="text" id="input"><br>
<span #we class="invalid" >User name is needed</span> -->
<!-- <span *ngIf="  " [(ngModel)]="minlen"></span> -->
<!-- <app-dashboard></app-dashboard> -->
<app-login></app-login>
<!-- <app-register></app-register> -->