<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!--  meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>

  <body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="container-fluid">

    <header>
        <button class="btn btn-success ms-3 firstset">Back</button>
        <button class="btn btn-success ms-5 firstset">Forward</button>
    </header>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img1.webp" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img2.webp" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img3.jpg" class="d-block w-100">
          </div> 
        </div>
      </div>

    <div class="container carousel-inner col-sm-12">
      <form
      class="col-sm-8 col-md-9 col-lg-12"
      action="https://formspree.io/f/mwkzpkqo"
      method="POST"
     >
     <label>
       Enter your FirstName :<br>
       <input  type="text" name="fname">
     </label><br>
     <label>
       Enter your LastName :<br>
       <input  type="text" name="lname">
     </label><br>
     <label>
       Enter Your Age:<br>
       <input  type="number" name="age">
     </label><br>
     <label>
       Enter Phone Number :<br>
       <input  type="number" name="number">
     </label><br>
      <label>
        Your email:<br>
        <input  type="email" name="email">
      </label><br>
      <label>
        Your message:<br>
        <textarea  name="message"></textarea>
      </label><br>
      <!-- your other form fields go here -->
      <button type="submit" class="btn btn-success ms-5 mt-3">Submit</button>
      <button type="reset" class="btn btn-danger ms-5 mt-3">Reset</button>
     </form>
    </div>
</div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>
</html>